.textarea {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
.showing-output {
  font-size: large;
}
#output {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
