@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Merriweather:wght@400;700&family=Roboto:wght@300;700&display=swap");
:root {
  --primary-color: rgb(245, 201, 56);
}
body {
  font-family: "Kalam", cursive;
}
nav {
  text-align: center;
  background-color: var(--primary-color);
  padding: 1rem;
}
.textarea {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
button {
  background-color: var(--primary-color);
  border: none;
  font-family: "Kalam", cursive;
}
.showing-output {
  font-size: large;
}
#output {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
footer {
  text-align: center;
  background-color: var(--primary-color);
}
