@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Merriweather:wght@400;700&family=Roboto:wght@300;700&display=swap");

body {
  font-family: "Kalam", cursive;
}
.header {
  text-align: center;
}
.textarea {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
.showing-output {
  font-size: large;
}
#output {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  width: 85%;
  margin: 10px auto;
  height: 10vh;
}
